[2019-09-24 03:33] anakuron opened #3 "can I use the monitoring without installing screenly to my server?"
So did I understand this correctly, if I want to install the monitoring to my server and connect the players to it, I have to also install Screenly to the server?

[2019-09-24 21:01] didiatworkz commented on #3
Hi anakuron,

Screenly installs some packages that my installation needs.
If you want to run it as a stand-alone instance, you will need to install the following first:

[code]

I didn't test that. Actually, the monitor is intended to be installed on a Screenly Player.

Best,
didiatworkz

[2019-09-24 21:13] didiatworkz opened #4 "Add reboot/shutdown option"
Since Screenly OSE v0.18 there is a reboot/shutdown function in the API

[2019-09-24 21:13] didiatworkz opened #5 "Fix video output bug"

[2019-09-24 21:14] didiatworkz opened #6 "Create API for system relevant information"

[2019-09-24 21:15] didiatworkz opened #7 "Stand - alone installation"
Enable monitoring to run as a separate instance on a server.

[2019-09-25 03:08] anakuron commented on #3
Thanks, I'll see if I get it to work, anyway this answers to my question and it's clear that (at least for now) it's intended to run in a player.

[2019-09-25 03:08] #3 closed

[2019-09-30 17:13] didiatworkz opened #8 "Installation Problem"
`TASK [Gathering Facts] *********************************************************
fatal: [localhost]: FAILED! => {"ansible_facts": {}, "changed": false, "msg": "T                                                                                      he following modules failed to execute: setup\n  setup: MODULE FAILURE\nSee stdo

[2019-09-30 17:38] #8 closed

[2019-09-30 20:38] #4 closed

[2019-10-01 20:58] #7 closed

[2019-10-02 07:52] #5 closed

[2019-10-21 19:52] HunterZeroSix opened #10 "Remote Screenly"
Hi
is it possible to add a screen via a SSH Tunnel or VPN

What do you think about it?
I found this manual https://www.rustimation.eu/index.php/reverse-ssh-tunnel-schritt-fur-schritt/

Best regards
HunterZeroSix

[2019-10-21 20:31] HunterZeroSix opened #11 "Fresh install standalone version dosent work"
Hi
I setup up a fresh debian 9 and install your script
but i got a blank page
i think a webserver is needed, to get them work

Best regards
HunterZeroSix

[2019-10-22 05:37] didiatworkz commented on #11
Hello @HunterZeroSix,
currently the standalone installation tested and work only with raspbian buster (I know.. It's a Debian port..)
The script install a nginx-light server (https://github.com/didiatworkz/screenly-ose-monitor/blob/master/assets/tools/ansible/roles/monitoring/tasks/main.yml#L66)
Can you attach the /var/log/nginx/error.log here?
Do the install process show any errors? - Can you att

[2019-10-22 05:39] didiatworkz commented on #10
Hello @HunterZeroSix
this feature is planned in version 3 via php-ssh2
https://github.com/didiatworkz/screenly-ose-monitor/projects/2#card-27695466

[2019-10-22 06:20] anakuron commented on #11
I also tried this out with fresh Debian 9 (used up to date AWS EC2 image)
so far the problems I've found are:
the installation script expects you to run it as user pi, if you don't it will say it's done but won't actually install everything.

so I created the user pi and run the script

Nginx is installed but the configuration file is directly in sites-enabled instead of sites-available and then a

[2019-10-22 07:09] didiatworkz commented on #11
Hello together,
I changed the php packages to the version 7.3
-> Can you try this again. please?

[2019-10-22 12:06] didiatworkz commented on #11
So now...
I check now the installed PHP Version and hope that problem is fixed now.
https://github.com/didiatworkz/screenly-ose-monitor/blob/master/assets/tools/ansible/roles/monitoring/tasks/main.yml#L72
The version number will be include into the monitoring.conf file
--> Can you check if everything is running now?

Thanks @anakuron for the info

Best
didiatworkz

[2019-10-22 13:13] anakuron commented on #11
yeah that works, I did a fresh install from a snapshot

**to reproduce:**
`sudo adduser pi`
create the user and user directory

`sudo adduser pi sudo`
adds user to sudo group so it can do the install

`su pi`
change to correct user

`bash <(curl -sL https://raw.githubusercontent.com/didiatworkz/screenly-ose-monitor/master/assets/tools/install_monitor.sh)`
wait it to install

`sudo systemctl restar

[2019-10-22 15:08] didiatworkz commented on #11
Hello @anakuron
thanks for your feedback - I will wait for @HunterZeroSix  response and then we can close this Issue.
Btw: Do you need really a restart of the nginx service?
Normally the installation do this: [Link](https://github.com/didiatworkz/screenly-ose-monitor/blob/master/assets/tools/ansible/roles/monitoring/tasks/main.yml#L90)
But when it work now I'm very happy :D
Best

[2019-10-22 18:14] HunterZeroSix commented on #11
Hey @didiatworkz and @anakuron
Thanks for fixing the bug

Yes you have to restart the service
After that, everything works fine

Best regards

[2019-10-22 18:14] #11 closed

[2019-10-29 14:35] nsuva opened #13 "No image show with monitor-script"
I'm testing the monitor and all seems to work just fine. I only cannot see any display image. It no image and seems lik it points to http://ipaddr:9020/screen/screenshot.png?0.5201491354745875

If I try to open url it gives me nginx not found 404 page.

Anything I missed in install ?

Thanks and congrats for your work

[2019-10-29 16:09] nsuva opened #14 "Only URL as new asset"
Adding new assets in monitor page only allow URL.
Is it possible to upload a video or image ? Where should we look fo add it in the code?

Thanks

[2019-10-29 21:15] #10 closed

[2019-10-29 21:18] didiatworkz commented on #14
Hi @nsuva,
that's right. At the moment only urls work. The other methods are planned for version 3.
https://github.com/didiatworkz/screenly-ose-monitor/projects/2#card-27709022
Stay tuned ;)

Best,
didiatworkz

[2019-10-30 12:06] nsuva commented on #14
Great ! Can´t wait to test it

[2019-10-31 13:32] nsuva opened #15 "Edit Assets"
When editing some asset the duration neither the start/end date are saved.

[2019-10-31 15:09] didiatworkz commented on #15
Hey @nsuva
yes - I noticed this today, too..

Do you work in my company and was in the meeting today? :D
I will check this and fix this ;)

[2019-10-31 15:21] didiatworkz opened #16 "Add-on Overview"
Manage all Add-on in one overview
* show Add-on Version
* show installed/not
* one click installation via php-ssh2 remotely

[2019-10-31 15:23] didiatworkz opened #17 "First Setup Wizard"
Wizard after the instalation
* Change Username/Password
* Add own player on request
* Change default settings

[2019-10-31 15:25] didiatworkz opened #18 "Extend Uploader"
Make it possible to upload Images / Videos direct to the player

[2019-10-31 15:25] didiatworkz opened #19 "User Management"
Manage different users with group rights

[2019-10-31 15:27] didiatworkz opened #20 "Improve installation speed"
The installation process takes a very long time.
Here you have to check if and how you can speed up this process.

[2019-10-31 15:30] didiatworkz opened #21 "Increase number of Public Link Players"
Rotate site when there more player as 12

[2019-10-31 17:36] didiatworkz commented on #15
Fixed https://github.com/didiatworkz/screenly-ose-monitor/releases/tag/v2.4

[2019-10-31 17:38] didiatworkz opened #23 "Reverse tunneling of port 9000"
Hahaha noooo !  😄
Just testing everything and realized it happens.

Testing now some way to publish the monitor from inside a firewall protected network with ssh reverse tunneling of port 9000.
Working great for the monitor. Any way to make it work in port 80 so that both pages can be accessible with only one port redirect ?  Basically make monitor work at port 80 ...

Anyway with edit and upload

[2019-10-31 19:30] didiatworkz commented on #15
Hey @nsuva
I didn't see you comment...
For the next time open a new Issue, please.

You can rewrite the nginx config from screenly like this:
[code]
add this code to /etc/nginx/sites-enabled/screenly.conf before the last bracket }
Now you need the address: http://localhost/monitor/index.php
It is a quick and dirty solution.. For more information you can search for: PHP Apps in a Subdirectory in Ng

[2019-10-31 19:30] #15 closed

[2019-10-31 19:55] nsuva commented on #15
Thanks Mate !
Meanwhile I thought in something similar and have been testing. Will adapt it with the code you provided.
It seems to work and be able to use only one port for the reverse tunnel connection.

Thanks

[2019-11-04 13:46] nsuva commented on #14
👏👏👏
Works just fine inside local network. Tested images and videos and worked perfectly.
However if connected thru reverse tunneling to the monitor upload doesn't work. Seems to call directly the screen IP adress

[2019-11-04 13:52] nsuva opened #24 "Screen image preview outside local network"
Tested all the functions from outside local network over ssh reverse tunnel to monitor:9000

Almost everything works fine, however image preview of the screens doesn't work. Do you know any way that I can change the image url so that not going directly to the ip adress of the screen?

I've read in some answer you gave to other post that you're implementing php-ssh2. Can this be a solutions for the

[2019-11-04 16:31] didiatworkz commented on #24
Hi @nsuva
php2-ssh will only use for execute commands on the players.
The monitoring is currently only designed for use in a  intranet/private network.
Maybe in the future it will be possible to use it in another scenarios.
Sry...

Best
didiatworkz

[2019-11-05 22:21] #24 closed

[2019-11-22 12:14] nsuva commented on #24
I've made some changes to your code and I was made it able to show the screenshots from reverse tunnel outside local network.
The refresh function capture all screen images to a folder and refreshes the page with this images.
Of course it is not for a real time screen preview usage, but with 5-10 seconds refresh time it works fine.
Just let me know if you want me to commit my code.

[2019-11-26 12:07] nsuva opened #25 "Order Playlist Assets"
Being able to order the playlist assets would be just great

[2019-11-27 12:17] didiatworkz commented on #25
Hey @nsuva,

I will add this to V3 - But only for active assets ;)

[2019-11-27 13:05] nsuva commented on #25
Great !

[2019-11-27 14:43] nsuva commented on #14
Hope this feedback help you :
When uploading a video, the duration of the asset is not written to the database.
This will not allow to change the status of the videos from active to inactive.
With images it works fine.

[2019-11-28 10:50] stephenmcc91 opened #26 "Upload Asset to multiple devices"
Would it be possible to add or edit assets to multiple devices at once?

There's a UWP app available for OSE that supports this, but it's not great.

[2019-12-03 20:04] didiatworkz commented on #26
Hi @stephenmcc91
That sounds like an interesting idea.
I will consider whether and how I could integrate it.
But it will be after version 3.

Best
didiatworkz

[2019-12-04 19:57] didiatworkz commented on #19
Implement in V3.0

[2019-12-04 19:57] #19 closed

[2019-12-04 20:02] didiatworkz commented on #17
Implement in V3.0

[2019-12-04 20:02] #17 closed

[2019-12-04 21:25] didiatworkz commented on #14
Hi @nsuva,

Thanks for your Feedback, but the problem that you describe was another problem.
I fixed it in version 3.0 and close the ticket ;)

[2019-12-04 21:25] #14 closed

[2019-12-05 21:04] #21 closed

[2019-12-26 15:39] neilyboy commented on #26
Would be very interested in this myself! I love this project so far! Thank you for all of your work on this project didiatworkz!
Neil

[2019-12-27 18:27] neilyboy opened #27 "Youtube assets do not work."
When I load a youtube video via screenly-ose-monitor it fails to pull the content like it does while adding youtube content via direct screenly-ose interface.
![image](https://user-images.githubusercontent.com/9546844/71528166-39576d80-28a4-11ea-9890-cb6985e4c4d3.png)

Thank you again for your time on this!
Neil

[2019-12-27 18:28] neilyboy commented on #27
btw. I have no idea what that video is lol (I just searched music video and used the first video that came up).

Neil

[2020-01-22 13:27] rolandjanssen commented on #26
Is it possible to use it with balenacloud? Any tips are welcome, thnx

[2020-02-06 18:45] didiatworkz commented on #27
Hi @neilyboy,
sorry for my late feedback.
I'm trying to reconstruct the error, but I can't.
Can you explain step by step how the error occurs?

Best,
Philipp

[2020-02-06 20:37] didiatworkz commented on #24
Hey @nsuva
i have integrated a new system in version 3.0 how the players are checked. See if it is a solution for you. But remember that version 3.0 is still in beta stage!

[2020-02-10 18:34] Schubi1 opened #28 "Timeout"
I'm not sure if my problem is caused by the  response time of a screen. All my screens are connected via LTE Modem in an VPN Network. The screens ar often shown as offline, or when i klick them the are shown to be offline -but the are not!
Is there a way to wait for example 1 second for response of a screen?

Thanke you in advance,
Schubi

[2020-02-11 16:16] didiatworkz commented on #28
Hi @Schubi1
which version do you use at the moment?

[2020-02-11 16:26] #20 closed

[2020-02-11 18:08] Schubi1 commented on #28
Thank you so much for your fast reply! Yes i am using 2.4. But i am not particularly good in programming. I will try to find where to change this setting in the installed Version.
Thank you for your great work!!!
Schubi.

[2020-02-11 18:36] Schubi1 commented on #28
It doesn't seem to solve my problem. Screens are shown as offline - but the are not. When pressing the refreshbutton in your webinterface the are somtimes shown as online. When clicking on a screen i get somtimes access to the assets - sometimes not. But always it is possible to refresh one or more times - then it works.
First ping to the screens is always very long:
`PING 10.8.0.3 (10.8.0.3) 56(8

[2020-02-12 18:51] didiatworkz commented on #28
Hi @Schubi1,
you have a pretty high ping to the players :/
I have rewritten the whole system in version 3.0 to make it run better - currently I'm testing it with 18 players, which still causes problems.
In the current case it looks like the tunnel will not be established until you connect to it. So I assume that it will be a tunnel problem.

Best,
Philipp

[2020-02-12 19:43] Schubi1 commented on #28
Hi @didiatworkz
no problem, if you find a solution i am more happy - but now i am also happy - just need to press reloadbutton one or two times, then it shows the right status.
I will try to do a permanent ping to the server to reduce the ping time.
As you said this could help, because one of the players has an additional router that does permanent ping 8.8.8.8 - this screen is shown 99% online.
I

[2020-02-12 21:38] #28 closed

[2020-02-28 20:43] #25 closed

[2020-03-31 15:14] readyrockc opened #30 "Displaying monitoring site at port 80"
Not a bug. I need help getting the monitoring site displayed at port 80. Port 80 now shows the nginx welcome screen because i have installed ose-monitoring as a stand alone version.

Just changing the /etc/nginx/sites-enabled/monitoring.conf from "listen 9000;" to "listen 80;"  doesn't do the trick, it seems?

It is installed on "Debian Buster with Raspberry Pi Desktop" x86 version...

Thanks a lo

[2020-03-31 18:55] didiatworkz commented on #30
Hi @readyrockc
nice to hear that you use my project.
Replace the line with in monitoring.conf with: ```listen 80 default_server;```
Restart the nginx service: ```sudo systemctl restart nginx.service```
And that's it ;)
If that didn't work, check if there are other configuration files in the "/etc/nginx/site-enabled/" folder and move or delete them.

Best,
didiatworkz

[2020-04-01 12:21] readyrockc commented on #30
That's it! Works perfectly :)

[2020-04-02 18:00] didiatworkz commented on #30
Nice to hear ;)

[2020-04-02 18:00] #30 closed

[2020-05-17 08:28] #27 closed

[2020-05-20 21:36] #26 closed

[2020-06-11 15:34] didiatworkz opened #34 "Addon can't install"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/didiatworkz/screenly-ose-monitor/issues) before creating one.

## Expected Behavior
Install Screenshot addon

## Current Behavior
Error 404

## Possible Solution
Fix the URL

## Your Environment

* Screenly OSE Monitoring Version: v3.0
* Screenly OSE Version: Release v0.18.2
* Raspbian Version: buster

[2020-06-11 15:35] #34 closed

[2020-06-17 13:20] tomber1022 opened #35 "Issue with Updating from Version 2.4 to newest"
First off, I'm a big fan of the program you made, it has made managing my screenly pis so much easier.

I'm not sure if this should be filed under a bug report or not since It may not be the fault of the program itself but when I go to update my pi, I get this error:

TASK [monitoring : Install packages] ***********************************************************
fatal: [localhost]: FAILED! => {"c

[2020-06-17 13:32] tomber1022 commented on #35
Just clarify, I meant update the version of the of the Monitor. After the message, it says it completes but it still on version 2.4 when I check in using --version

[2020-06-17 20:00] didiatworkz commented on #35
Hello @tomber1022 ,

Glad to hear that my tools help some other people :)

In your case you had installed the wott-agent package on the PI.

The Ansible Playbook will install the new packages and run and apt update before.
This is what happens the error.

When you enter the command: ```sudo apt update``` they must be shown a similar error.

You must remove this repo from the apt source.list or upd

[2020-06-22 15:15] tomber1022 commented on #35
Thank you! I finally got it to install.  But now I'm having issues with uploading and adding assets. I'm going to make a separate issue to keep it separated from this post.

[2020-06-22 15:15] #35 closed

[2020-06-22 15:30] tomber1022 opened #36 "Problems with Adding and Uploading Assets"
I am unable to upload or add assets via URL. Whenever I attempt to, it says that my login information is incorrect.

![Error](https://user-images.githubusercontent.com/67019463/85305623-efc29680-b472-11ea-8ccf-57eed1c42226.PNG)

I have tried deleting and adding the pi again and changing the username and password  to see if it  I could get it to work but I haven't found a solution yet. The only way

[2020-06-25 17:58] manosh7226 commented on #36
Same issue here.

[2020-06-25 21:00] didiatworkz commented on #36
Hello @tomber1022 and @manosh7226,

do you use the Multiuploader or do add a single asset to your Player?
Happend that issue on both methods?

The user and password is needed when the Screenly Player Authentication is activated. Then you must enter the player authentication and not the SSH authentication.

I will check this tomorrow!

Best
didiatworkz

[2020-06-26 00:26] manosh7226 commented on #36
Yes tried Multiloader and single asset.  Used the Screenly Player Authentication and entered the player authentication. I can see the player on the monitor. I can reboot it too.  When I try to add asset I get the error above.

[2020-06-26 06:05] didiatworkz commented on #36
Good morning :D
Unfortunately I can reproduce the problem :(

I will check the code and release an update for that.

Best
didiatworkz

[2020-06-27 11:11] didiatworkz opened #37 "Settings not saved"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/didiatworkz/screenly-ose-monitor/issues) before creating one.

## Expected Behavior
Change settings to new values and save

## Current Behavior
Settings won't be changed

## Possible Solution
-

## Your Environment

* Screenly OSE Monitoring Version: v3.1
* Screenly OSE Version: Release v0.18.2
* Raspbian V

[2020-06-27 11:25] #37 closed

[2020-06-29 17:22] tomber1022 commented on #36
@didiatworkz , I finally got a chance to test the update this morning. I can now upload assets to the pis, but multiloader is still not functioning as it should. When selecting multiple pis, it will only upload to the first pi that is selected on the list of pis. I can upload individually just fine.

[2020-06-29 17:29] didiatworkz commented on #36
Hey ho @tomber1022 ,

Hhmm.. Can you check if that problem happened when you upload a URL via Multiuploader?

[2020-06-29 17:47] tomber1022 commented on #36
Uploading by URL works just fine using Multiuploader.

[2020-06-29 20:52] didiatworkz commented on #36
Hello @tomber1022 ,

I think I found the mistake.
I will test it tomorrow in my production environment and release it if everything works.

Sorry for the trouble.

Best,
didiatworkz

[2020-06-30 08:48] didiatworkz commented on #36
Hi @tomber1022 ,

new version is released - please update and give me a feedback :)
I can't find any issues at the moment any more

[2020-06-30 13:18] tomber1022 commented on #36
Just tested it and it seems like you fixed it. Thank you!

[2020-06-30 13:18] #36 closed

[2020-07-01 16:54] tomber1022 opened #40 "Ability to Disable the Add-on"
I like the add-on since it allows me to see  how my assets are displaying, but I was wondering if there was possible to disable or deactivate the add-on. It is really nice to have but, outside of when I initially add my assets, I would rather just have it say if the pi is active or not most of the time.

I know that you can already control how often you receive a screenshot. I don't have much expe

[2020-07-02 16:20] didiatworkz commented on #40
Hello @tomber1022,

First of all, thanks for your feedback! This helps me a lot and I see that this project is also successfully used out there!

Back to your question:
There is no disabling of the add-on. Once installed, the add-on provides the image of the HDMI signal.
This means that the monitoring only looks at the available picture. If this is not the case, the "online" picture is displayed.

[2020-07-13 09:21] jcsanchezrb opened #41 "Establish user and players relationship"
Would it be possible to make a specific user only view and manage a specific list of players?

Only an admin user should be able to create, modify and delete this user -> players relationship.

[2020-07-13 09:52] jcsanchezrb opened #42 "Add monitor name in the settings"
Would it be possible in the settings to add a monitor name, as Screenly OSE does, and then this name could be displayed later in the contents as Screenly OSE does?

[2020-07-13 10:15] didiatworkz commented on #41
Hello @jcsanchezrb

this is planned for Version 4 - A full right management for Admins ;)

[2020-07-13 10:36] didiatworkz commented on #42
Hello @jcsanchezrb
do you think that the name is read from the player and then displayed and set in the monitoring?
Or do you think that the name is set in the monitoring and then changes in the player?
In the second case, this is not possible because the Screenly OSE API does not support this function.

Best
didiatworkz

[2020-07-13 11:24] jcsanchezrb commented on #42
Sorry, but I think I have not explained the enhancement correctly.

I don't want change the player name of the one Screenly OSE (I know it isn't possible throughAPI), I want to add a new item in the setting to put a name to every Screenly OSE Monitoring, like you can do with an Screenly OSE player.

This way, if you have multiple Screenly OSE Monitoring, you can recognize each one.

[2020-07-13 11:49] didiatworkz commented on #42
Hello @jcsanchezrb
you didn't mean this:
![name](https://user-images.githubusercontent.com/18490798/87301206-7406b780-c50f-11ea-9b0c-3a8987dd964b.gif)
right?

You mean that you can edit the name of the whole monitoring system - So you can manage multiple monitoring systems in one browser and you can find the right one in the tabs?

Sry, when I didn't understand your question :/

Best
didiatworkz

[2020-07-13 11:56] jcsanchezrb commented on #42
Yes, I mean I can edit the name of the whole monitoring system, so I can manage multiple monitoring system......

[2020-07-13 14:59] didiatworkz commented on #42
ok @jcsanchezrb  :D
I added this to the upcoming ideas

Best
didiatworkz

[2020-07-18 18:44] moridin1138 opened #43 "Grey vertical lines with addon output"
First off, thanks for the great addon to Screenly!  Your effort is much appreciated.  It works flawlessly with the exception of the video/HDMI addon.  Instead of showing the expected screen, it shows 2/3rds of the screen, but with an overlay of vertical grey lines.

I am running screenly on a Pi4 using screenly version 0.18.2.

![2020-07-18 14_35_04-Screenly OSE Monitoring and 3 more pages - Profi

[2020-07-25 15:39] didiatworkz commented on #43
Hello @moridin1138

sorry for the late answer, but I'm on vacation :D
This is very interesting. I haven't been able to test the whole thing on a Raspberry Pi 4 yet because I don't have these devices in my test environment or productive system.

Which version of the Raspbian system are you using? -> 86bit / 64bit -- Buster?

If you reinstall the add-on, the error remains?

Best
didiatworkz

[2020-07-27 07:47] jcsanchezrb opened #44 "Bug with future dates in assets"
There is an error when Screenly OSE Monitoring gets an asset from a player, when reading and displaying some future dates.

[Screenly OSE Monitoring.docx](https://github.com/didiatworkz/screenly-ose-monitor/files/4980640/Screenly.OSE.Monitoring.docx)

[2020-07-27 07:56] jcsanchezrb opened #45 "Filter and sort in the main view"
Could there be a filter, with its corresponding sorting, in the main view?

[2020-07-27 17:50] moridin1138 commented on #43
Hola didiatworkz,

We are using 32-bit Buster to get this going.  It was a bit of a hack because I got it working using a pre-Pi4 version of Screenly.  Will try a reinstall on a spare Pi and see if the issue persists.

Thanks,

-brian

[2020-08-02 18:40] didiatworkz commented on #44
Hey @jcsanchezrb
sorry for my late reply..
The problem occurs when the asset is set to "Forever".
Then the date is set to, for example, 9999-08-02.
Currently, the system cannot handle this.
But I will take this into consider in the next version.

Can you confirm that?

Best
didiatworkz

[2020-08-02 18:47] didiatworkz commented on #45
Hi @jcsanchezrb
that 's a good idea - But at the moment not possible with the current design.

Best
didiatworkz

[2020-08-03 15:35] jcsanchezrb commented on #44
Yes, I confirm it

[2020-08-03 15:36] jcsanchezrb commented on #45
Superb.

[2020-08-24 11:59] kgansberger opened #46 "Multi Upload in Screen OSE not possible"
its possible to select more than one image, but just uploading one image ...

[2020-08-24 15:14] didiatworkz commented on #46
Hey :)
sure - look at this gif...
![ezgif com-crop](https://user-images.githubusercontent.com/18490798/91062664-46904c00-e62d-11ea-9cd4-ee28b331122a.gif)

It 's also possible to drag 'n' drop the images into the upload zone.
Is this the answer of your question?

Best
didiatworkz

[2020-09-02 18:12] didiatworkz commented on #43
Hello @moridin1138
now that I have bought a Raspberry Pi 4 and installed screenly (docker version).
Afterwards the ose-monitiring and the add-on.
Everything worked without problems.

After no feedback and no problem I will close this issue.

Best didiatworkz

[2020-09-02 18:12] #43 closed

[2020-09-02 18:13] didiatworkz commented on #46
Hello @kgansberger
Are there any further questions or can we close the issue with this?

Best didiatworkz

[2020-09-03 05:38] kgansberger commented on #46
hi didiatworkz,
sorry for missing answer.
I can upload multiple files as in your screenrec, but only one picture is in filelist after upload. only have one monitor.
any idea?

[2020-09-03 18:14] didiatworkz commented on #46
Hello @kgansberger
I created a test setup and as you can see I tried to reproduce your problem.
Can you please check if you are using the latest version (v3.3) and if so, I would ask you to run the installation again.
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/18490798/92151709-e023de80-ee21-11ea-9455-64c6ccd37f9c.gif)

Best didiatworkz

[2020-09-08 17:05] kgansberger commented on #46
v3.3, Updated second time, even now just one picture is in list ...
![grafik](https://user-images.githubusercontent.com/1162770/92506749-33bd7000-f206-11ea-941b-3aa92d967b4e.png)

[2020-09-25 06:53] rolandjanssen opened #47 "remote connection"
What's your question?

Is it possible to make an connection to another location, because our office is at another location?

[2020-09-25 16:19] didiatworkz commented on #47
Hello @rolandjanssen ,

You will need a network technician for this project.
This has nothing to do with my monitoring script.
The keyword here is: VPN or SSH tunnel.

Therefore I will close this issue
Best didiatworkz

[2020-09-25 16:19] #47 closed

[2020-09-25 16:27] didiatworkz commented on #46
Hello @kgansberger ,

can you create a video clip of the issue with an open DevTool -> Network (CTRL+SHIFT+J (https://www.freecodecamp.org/news/chrome-devtools-network-tab-tricks/))?
And can you tell me which browser do you use?

Best
didiatworkz

[2020-10-20 13:41] LeSnowTiger opened #48 "Monitor can't connect to screenly API when screenli OSE is set to use SSL / 301 Redirect"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/didiatworkz/screenly-ose-monitor/issues) before creating one.

## Expected Behavior

It's possible to set screenly ose to use SSL. When the player is set to SSL its not possible to connect the player with the monitor.

## Current Behavior

The monitor runs in a HTTP 301 redirect and throws an error.

## Pos

[2020-10-20 20:25] didiatworkz commented on #48
Hello @LeSnowTiger

First: Great that you took the time to analyze the problem and suggest a solution!
I just set up a test system and was able to reproduce your problem.
I will implement your solution within the next days. Maybe I have some time to fix some other problems. - I put the whole thing on my to-do list.
Thank you 😄

[2020-10-21 05:58] LeSnowTiger commented on #48
I'm glad I could help :)

[2020-10-21 22:13] jovalois opened #49 "screenshot"
What's your question?

It does not show me the image of what the player is playing

[2020-10-22 09:37] didiatworkz commented on #49
Hello @jovalois
Do you installed the add-on on the target player?
```bash <(curl -sL https://git.io/Jf900)```

Best
didiatworkz

[2020-10-22 20:15] #45 closed

[2020-10-22 20:15] #44 closed

[2020-10-22 20:15] #42 closed

[2020-10-22 20:16] #46 closed

[2020-10-23 21:15] jovalois commented on #49
If it was installed and it does not generate an error but it still seems that it is not installed, I am attaching an image
![Captura de pantalla de 2020-10-23 16-07-12](https://user-images.githubusercontent.com/73259245/97054720-ee9d9500-154a-11eb-96d5-541e378f1cf0.png)

[2020-10-24 09:17] didiatworkz commented on #49
Hello @jovalois

So let me get this straight...
You have also logged into player 192.168.1.82 via ssh and executed the command: ```bash <(curl -sL https://git.io/Jf900)```
If this is installed correctly, then a script must be here:
```/usr/bin/screenshot.sh```
a crontab can be found here: ```sudo crontab -e```
```sleep 20 && /usr/bin/screenshot.sh >> /var/log/screenshot.log 2>1```
and this command

[2020-11-15 17:32] umityavz opened #52 "Install script on ubuntu 18.04"
When i try to install ın ubuntu 18:04 ihave this error message.  I wanna try to install standalone system.

TASK [monitoring : Create .monitor directory] ************************************************************************************************************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "gi

[2020-11-15 17:41] didiatworkz commented on #52
Hello @umityavz
I changed the working directory - You can run the installer again.
At the moment I create an Ubuntu VM to test this changes...

Please hold the line 😄

[2020-11-15 17:50] didiatworkz commented on #52
Ah ok.. I found some problems...

[2020-11-15 17:50] umityavz commented on #52
Philipp you're very fast give to me answer, thanks man. I will try this one.

Thanks.

[2020-11-15 18:04] didiatworkz commented on #52
I fixed the installation process now - You can install it :)
I will fix some other problem in V4.0

[2020-11-15 18:04] #52 closed

[2020-11-24 21:10] didiatworkz commented on #49
No response from author - Issue will be closed

[2020-11-24 21:10] #49 closed

[2020-11-27 21:27] c4rv88 opened #53 "cloud server"
Hi! first congratulations on the work, this is helping me a lot I wanted to know if you have any tips regarding my scenario.
I use a debian server in the cloud with the screenly monitor installed, the communication between the pi and the monitor is done through a vpn. The system can see the pi normally, even the addon works perfectly, but does not succeed on the assets, a message No Screenly API d

[2020-11-27 21:39] didiatworkz commented on #53
Hello @c4rv88
thanks for you congratulation 😄
Normally, the message appears if this happened in line: [index.php:326](https://github.com/didiatworkz/screenly-ose-monitor/blob/246a48779c26fd91eaa43499f80a5eb6caa226a4/index.php#L326)

$playerAPICall is TRUE when the player is reachable and $playerAPI must not return the value "authentication error 401"!

Do you use the Screenly OSE Player with https

[2020-11-27 22:05] c4rv88 commented on #53
I already did a clean installation, I did not enable https. Even so, the error persists. I did the test with curl and I can access my pi. I will do other tests, thanks for the tips.

[2020-11-27 22:07] didiatworkz commented on #53
You're welcome

[2020-11-30 22:04] c4rv88 commented on #53
Hi!
I haven't been successful in my settings yet!
Does he have any ip redirection?
My tests:

test ping :  Server - client interface tun0 [ok]
teste Ping: Server - client Interface  wlan0 [no sucess]

Test Ping:  client -  server interface tun0[ok]
teste ping: Client - Server Interface eth0[ok]

any tips?
Thank you!

[2020-12-01 18:14] didiatworkz commented on #53
Hello @c4rv88
there is no restriction from my side...
What I wonder is how you set up your VPN tunnel between the client and server (SSH, PiVPN or OpenConnet).

Maybe  @nsuva can help here as well, since he has already set up a working system via SSH tunnel.

If you look at your ping test, it looks like there might be a firewall not open or a forwarding is missing.
But unfortunately, I am no exper

[2020-12-14 21:27] didiatworkz commented on #41
Issue will be closed - Implemented in V4.0

[2020-12-14 21:27] #41 closed

[2020-12-14 21:28] didiatworkz commented on #16
Issue will be closed - Implemented in V4.0

[2020-12-14 21:28] #16 closed

[2020-12-14 21:28] didiatworkz commented on #40
Issue will be closed - Implemented in V4.0

[2020-12-14 21:28] #40 closed

[2020-12-14 21:49] didiatworkz opened #54 "Translation help needed"
Hello together,

after the release of V4.0 it's possible to change the language of the whole system.

For that, I need some co-workers who can translate the system in other languages.
Are you interested? - Then write me an email at github@atworkz.de and tell me which language you can support.
I will contact you as soon it's impossible.

Thank you in advance

[2020-12-16 08:21] JurakZdenek opened #55 "Upload larger files problem"
Hello, i have problem with upload videos larger then approx 100mb.
For example i using 1,2Gb MP4 video.
Iam trying in Firefox and Chrome browsers.
If I upload the video directly to the player, it will upload fine.
See gif please:
![2020-12-16_9-08-39](https://user-images.githubusercontent.com/74710914/102322667-b5e4cf80-3f7f-11eb-9ae6-c81aefce1892.gif)

Monitor info:

Monitor Version: | 3.4
-- | -

[2020-12-16 08:29] JurakZdenek commented on #54
Hello, I want to commend you for a great job and a very useful project. I really appreciate it. I will be happy to help you with the translation into Czech, if it is easy. I only know the basics of PHP. Thank you again.

[2020-12-16 09:16] JurakZdenek commented on #55
I try edit in php.ini:
post_max_size = 2048M
upload_max_filesize = 2048M
post_max_size = 2048M
memory_limit = 2048M

Unsuccessfully. Still the same.

[2020-12-16 17:06] didiatworkz commented on #55
Hello @JurakZdenek
yes this is a half half bug 😓
I limited the upload file size to [100MB](https://github.com/didiatworkz/screenly-ose-monitor/blob/master/assets/js/monitor.js#L156)

Normally the system indicates that the file is too large and cannot be uploaded.
I have tested this with larger files and always received a timeout from the server. So I decided not to go over 100MB.

I will test it w

[2020-12-16 17:41] didiatworkz commented on #55
Hello @JurakZdenek
in V4.0 it was the same problem - I fixed it now so that you can see the upload is to big.
The reason behind that:
![upload](https://user-images.githubusercontent.com/18490798/102385043-a7250980-3fcd-11eb-8672-8303ae4e976a.gif)

Look at the gif... When the upload is finished you can see in the right lower corner that the screenly service stop working.
This probably happens becau

[2020-12-16 18:23] JurakZdenek commented on #55
Hello @didiatworkz , its works! I change limits (file size 2000 and timeout 600000) and i upload 200mb and 1,3gb video. screen allways blink offline - online, if i delete asset blink too. Check [video](https://jurak.cloud/index.php/s/2nZ3kw32d7ffnfy) please.

[2020-12-16 18:29] didiatworkz commented on #55
Hey @JurakZdenek
hmm... that's interesting... 😄
Then I will investigate this a little bit more (normally I don't use so huge files)

[2020-12-16 18:44] JurakZdenek commented on #55
This is important because nowadays FullHD video files are quite large. 10 minits is about 200mb (minimum). I have more ideas but I will create new issue on it. Good job anyway! Thank you.

[2020-12-16 18:48] JurakZdenek opened #56 "Tips for upgrade in new version"
1) Add checkbox (and select/deselect all) on assests screen for multiple changes: start and end datetime, delete, active/inactive.

2) Add players groups - example: Dining rooms[player1,player5], All[player1,player2,player3,player4,player5], Firt floor[player1,player2], Second floor [player3,player4,player5]
	its for better managment and for "add asset to multiple device".

3) Add option active/in

[2020-12-16 18:56] didiatworkz commented on #56
Hello @JurakZdenek
thanks for your feedback!

# 1 - need time to implement but I guess it would be easy
# 2 -  sound like a small function but in the background I must check if it is possible at the moment
# 3 - I can implement this is V4.0 as well

# 1 and # 2 maybe in the following versions - I will add this to the projects board

[2020-12-16 21:30] didiatworkz commented on #56
3. is implemented now

[2020-12-17 11:49] JurakZdenek commented on #56
Perfect, you work quickly. Can I try it? or when will the new version be released?

[2020-12-17 18:54] didiatworkz commented on #56
Hey,
I am currently testing the system completely. If you want to have a look at it already, you can install it like this.
However, I can't guarantee that something won't break at the moment! - Maybe I release this year or in the next. It depents on the free time that I have 😉

[code]

[2020-12-18 13:36] JurakZdenek commented on #56
Hi, can you add this option to Multi Uploader? Thank you :-)

[2020-12-18 18:50] didiatworkz commented on #56
Oh what? - I forgot it 🙉
I think you must update your system *hust* 😉

[2020-12-21 19:59] didiatworkz commented on #55
Hello @JurakZdenek ,

after a few tests, I was unfortunately unable to report any success.
On which operating system are you currently running the system?

Best
didiatworkz

[2020-12-22 10:56] JurakZdenek commented on #55
Hello, have you got edited php.ini file? Monitor runing on Raspi3 and screenly is on Raspi4.

[2020-12-22 13:05] didiatworkz commented on #55
Hey,

yes I've edited the php.ini and the monitor.js files and restarted the server completely.
Hhm.. Maybe the problem is that all my screenly player are installed on RPi3 -> I will test it with a RPi4!

For the other bug: Open a new issue, please 😉

[2020-12-28 18:43] c4rv88 commented on #56
Hi!
First of all congratulations on the update of the tool, I installed it on my cloud server, did the multi-upload tests, groups and users.
I wanted to share a suggestion. In the dashboards screen, the ideal would be to show only information of the players that the user manages. what do you think?
I'm going to do some tests and give you feedback. but this is very show! congratulations one more ti

[2021-01-09 10:31] #53 closed

[2021-01-09 10:34] didiatworkz commented on #56
Hello @c4rv88,

thanks for your feedback but create a new issue for one topic in the future, please - It's easier to handle that in the project plan!
Your suggestion is implemented. 😉

@JurakZdenek - I close the Issue now! - I copy your ideas into the upcoming project plan: https://github.com/didiatworkz/screenly-ose-monitor/projects/4

[2021-01-09 10:34] #56 closed

[2021-01-13 18:49] didiatworkz commented on #55
I fixed the problem now without change the php.ini -> The uploads working with the chunk function, now.

[2021-01-13 18:49] #55 closed

[2021-01-28 14:43] MangNPB opened #60 "upload through somo not playing."
i have current screenly ose Sprint 10.1 Release. fresh install of somo. upload and multiupload seem to work but asset is not playing. switching to web interface i can disable the asset but when re-enable it cause this error: "Server Error: int() argument must be a string or a number, not 'NoneType'"

uploaded 3 videos size 12mb, 30 mb, and 34mb - upload is a lot faster than web interface... but th

[2021-01-28 17:32] didiatworkz commented on #60
Hello @MangNPB
First of all, cool that you use SOMO :)
But I don't understand where the error "Server Error: int() argument must be a string or a number, not 'NoneType'" appears in your description?
Is it directly on the screenly player or in SOMO?

For the uploads, I would need to know from you where this happened, since the technique in the multiuploader is different than when you do the whole t

[2021-01-28 18:00] MangNPB commented on #60
Thank you for the response and thank you for your creation.   Your project makes life at the open source much easier.  Upload seem to have the same problem using both multilayer and single player "add asset" at the player menu.  Upload display seem fine and complete with some files show up on the assets list to be play by it will never play no matter what i do.  Switching to screenly ose web ui i

[2021-01-28 18:27] didiatworkz commented on #60
Hey @MangNPB

I can reproduce the error...
When you upload video the default duration time will normally set to the time in sec of the video
That's not happened at the moment - I will fix this

Regards,
didiatworkz

[2021-01-28 22:01] didiatworkz commented on #60
Hey @MangNPB

I found the issue and fixed it - I will test it tomorrow and release it when everything is ok

[2021-01-29 16:54] MangNPB commented on #60
I do not know if this is related to the upload above but also found that the close button once upload is completed is not responding or doing anything.

[2021-01-30 16:18] MangNPB commented on #60
Update on fixes that is still broken for uploading mp4 videos. the fix works great for photos but for uploading video we have the following behaviors that ended up with the same broken result:

Single player upload: upload window abruptly closed when it seems like the process is done but upon refreshing the page there is no newly uploaded asset /assets to be found on play list in either SOMO or Sc

[2021-01-30 17:17] didiatworkz commented on #60
Hello @MangNPB
can you tell me how big the file(s) are?
Which upload size do you configure in the settings and can you take a screenshot from the settings page with all versions of the scripts?

Btw: I tested the upload with up to 500MB mp4 files without any problems yet.

didiatworkz

[2021-01-30 20:06] MangNPB commented on #60
Hello again.
The size in setting i set is 200mb. file size ranges from 12mb to 74 mb. all of them fail.

![image](https://user-images.githubusercontent.com/44915183/106366815-6dedf200-630c-11eb-9fd9-4d5e7f329950.png)

[2021-01-30 20:20] didiatworkz commented on #60
Hey @MangNPB
do you use raspbian stretch of the server and on the players?

Best
didiatworkz

[2021-01-30 20:23] MangNPB commented on #60
yes, it's the image from screenly. Should i put it on buster?

Mang

[2021-01-30 20:43] didiatworkz commented on #60
Hey @MangNPB
I will test your configuration tomorrow and hopefully find the issue. I have done all the tests so far with buster.
Let's see what comes out.
I will keep you informed

Best
didiatworkz

[2021-01-30 20:59] MangNPB commented on #60
Greatly appreciate all the efforts!

Magn

[2021-01-31 03:14] MangNPB commented on #60
I have tried to manual install Screenly OSE on Buster and no matter how i try i keep getting a python packing error that prevent the installation from being complete. Just wondering how did you get yours to run on buster? the latest image they have is only on stretch.

Mang

[2021-01-31 10:15] didiatworkz commented on #60
Hello @MangNPB
when you run into the same error as me in the past (Python OpenSSL issue) you can read the solution here: https://github.com/Screenly/screenly-ose/issues/1264

If you run in another errors, paste the console output here to identify the issue - But normally that's a Screenly OSE problem and not a problem from my script 😉
I'm setting up a stretch at the moment - So stay tuned.

Best
d

[2021-01-31 14:24] didiatworkz commented on #60
Hello @MangNPB

I found the problem and fixed it - Please reinstall SOMO with the command: `bash <(curl -sL https://git.io/JttTW)`
As an extra I implement a better error handling for uploads.
I close the issue.

Best
didiatworkz

PS: Please close the issue at Screenly-OSE (Issues #1486)

[2021-01-31 14:24] #60 closed

[2021-01-31 15:12] MangNPB commented on #60
Thank you very much, DidiaWorkz. You are quite a life saver! If I need any private projects done in the future would you be available? My email is @gmail.com with the handle above. Let's exchange contact if you are interested.

Once again thank you for all your helps.

Mang

[2021-02-01 19:58] c4rv88 commented on #54
Hello! I can help to translate to portuguese-br. email: c4rv88@gmail.com

[2021-02-10 04:06] MangNPB opened #64 "upload button & file size limit issue"
Single player upload button disappear if 1 file (multiple files per attempt session) out of the list has size greater than MB allowed in setting. Button will not reappear even if the large file is removed from the list. The page must be reloaded again. Most people knows SOMO would raised the limit to start but for new comers it could be head scratching.

system = debian buster RPI4 with latest SOM

[2021-02-10 21:42] omival-val commented on #54
Buenas tardes;
Mucho gusto espero estén bien ,quiero felicitarlos por tan grande proyecto ,quiero traducirlo a español
mi correo es jorgevargas.soluciones@gmail.com

Quedo atento

[2021-02-11 14:59] 0xBEAKER opened #65 "Uninstall script"
Is there any way to easily uninstall Screenly OSE monitoring?

[2021-02-11 16:53] didiatworkz commented on #65
Hello @0xBEAKER

yes, you can do this via ```somo - -uninstall```

Regards,
didiatworkz

[2021-02-11 16:55] didiatworkz commented on #64
Hello @MangNPB
I can confirm the behavior - It will be fixed in the next update.

Regards,
didiatworkz

[2021-02-11 17:20] MangNPB commented on #64
![image](https://user-images.githubusercontent.com/44915183/107672885-6b23c300-6c63-11eb-8100-b93b283f8462.png)
![image](https://user-images.githubusercontent.com/44915183/107672911-724ad100-6c63-11eb-83db-7b0f7dbed9d9.png)

multiupload at least show up "reload" but single upload doesn't

Mang

[2021-02-13 05:05] MangNPB opened #66 "Somo on port 80"
My apology for posting the other post of related topic on pull request (github newbie!).

The reality: Screenly ose latest version will redirect all http request to https port 443. this means they are moving to more secure option and in a way abandoning port 80.

The request: Can we make let end user access SOMO web UI easier by changing port 9000 to port 80. So if we run DNS locally we can allow

[2021-02-13 06:09] MangNPB commented on #66
some fiddling i was able to turn off OSE 443 and put SOMO on 443. the whole thing works and life is much easier to tell your end users to go on https rather than :9000. Hopefully your next update would have an option to force this with a simple toggle option. to change screenly.conf and monitoring.conf listen port with appropriate parameters..

[2021-02-13 08:02] didiatworkz commented on #66
Hello @MangNPB

Because of your previous problem: Don't worry - it can happen.

That sounds like an interesting solution, but I won't change the Screenlye OSE project - SOMO should really be able to run in parallel without affecting Screenly - hence port 9000, as nothing can get in the way with this port.

SOMO can also run on port 80 by default - SOMO detects whether a Screenly OSE is installed o

[2021-02-15 16:19] #65 closed

[2021-02-15 16:24] didiatworkz opened #67 "One-click update"
Improve the update process.
-> Auto update via somo command
-> Set Maintenance mode

[2021-02-19 10:10] HunterZeroSix opened #68 "Change Display Settings"
First of all, you have implemented a super project here. I also had the idea to create a script to manage Screenly OSE players. I would have built the whole thing just the other way around. As a client to server model.
I also like your approach.
The only disadvantage is that the players must be directly accessible.

Long speech short sense. **Great project and nice that you share it with us.**

No

[2021-03-18 07:00] didiatworkz commented on #68
Hello @HunterZeroSix
Please excuse my delayed response - I have many to do currently.

Thanks for your Feedback 😄
And thanks for your Ideas. I understand what you want, but that isn't the focus of my project to do this.
It is important to me that SOMO sticks remains separate from Screenly OSE and cannot be set on the system itself.
Therefore, SOMO controls everything via the official API of Screen

[2021-03-22 15:09] Doucheur opened #69 "Youtube link"
Hello !

I already said it, but this project is very interesting and useful.

Here is my issue :
When trying to upload a Youtube video by using its link, it's trying to display the whole Youtube page instead of the Video.

## Expected Behavior

By example, I want to display and ear this video on my Screenly player :
https://www.youtube.com/watch?v=h-jxgXxRgnM

Using the web interface of my Screenl

[2021-03-25 17:01] ckambiselis opened #70 "Rust compiler error"
Trying to install on a RPi Zero W and I'm getting the following error,

[code]

[2021-03-25 17:27] didiatworkz commented on #70
Hello @ckambiselis ,

the project doesn't support Raspberry Pi Zero.
Plesse check the [https://github.com/didiatworkz/screenly-ose-monitoring#requirements](requirements )

Regards,
didiatworkz

[2021-03-25 17:28] #70 closed

[2021-03-25 21:08] HunterZeroSix commented on #68
Hello didiatworkz,

Thank you for your answer.
I will write a script for my purposes.

You can close the ticket.

Regards,
HunterZeroSix

[2021-03-26 17:54] #68 closed

[2021-04-22 20:51] jososaga opened #71 "Future integration with Balena OS"
Do you have any plan to provide future integration with Balena OS?

I've been able to successfully use Screenly-OSE with Balena-OS, and I'd like to know if you will consider a future integration with Balena-OS, in such a way we can push Screenly-OSE and SOMO to a Balena Application, that then it will deploy both Screenly-OSE and SOMO to a particular device through Balena distribution.

This is the

[2021-05-19 22:21] BrendonKoz opened #72 "Screenly-OSE Development / Master Branch Compatibility"
## Expected Behavior
Currently, SOMO does not detect an installation of the development branch of Screenly-OSE (which has been suggested by their own devs to be installed in order to solve certain problems - for me, that is unsupported HTML5/CSS rendering issues with the UZBL browser).

## Current Behavior
SOMO will happily install itself, and I was able to get it to run atop a pre-installed OSE D

[2021-05-27 07:36] jcsanchezrb opened #73 "Error during installation process"
During the installation process, the script return an error and at the end of the process, the app isn't access.

I attach text file with the messages returned by the script.
[Install_Somo.txt](https://github.com/didiatworkz/screenly-ose-monitoring/files/6551988/Install_Somo.txt)
[Install_Somo.txt](https://github.com/didiatworkz/screenly-ose-monitoring/files/6551992/Install_Somo.txt)

## Your Envi

[2021-05-31 15:46] didiatworkz commented on #73
Hello @jcsanchezrb,

which Raspbian image do you use (lite/desktop)?
And on which PI version do you installed SOMO?

Regards,
didiatworkz

[2021-05-31 17:47] didiatworkz commented on #72
Hello @BrendonKoz,

thanks for your feedback.
I figure out what the issue caused.
To fix that I need to redesign the whole installation and server process while screenly-OSE currently block the Port 80 and nginx can't be installed 😞

Quick solution for you: Install SOMO on a device without Screenly. Otherwise, you need to wait until I implement the new installer and server process 👍🏻

I added this

[2021-05-31 18:08] didiatworkz commented on #71
Hello @jososaga,

that sounds interesting - I will take a look. But I know that's a lot of work 😉

[2021-05-31 18:08] didiatworkz commented on #69
Hello @Doucheur,

thanks for your feedback I found the problem and I will fix it.

Cheers,
didiatworkz

[2021-05-31 22:18] Doucheur commented on #69
Hello @didiatworkz ,

Thank you very much !
Good luck,

Cheers,
Doucheur

[2021-06-01 08:36] jcsanchezrb commented on #73
I was using lite version and I was using Raspberry PI 3 Model B/B+.

[2021-06-09 15:29] ceburge opened #74 "Display Limit?"
Is there a limit to how many displays that can be added? I have 22 displays and have 21 of them displaying. When I add the last one it says it was added successfully but doesn't show up under players.

[2021-06-10 06:50] didiatworkz commented on #74
Hello @ceburge
no, there isn't set a limit.
Currently, I'm working with 28 devices very well - The only thing what is configured in the SOMO System is that you can't add players with the same IP twice.
Maybe that will happen here in your case.

If you have more questions, let me know.

Best
didiatworkz

[2021-07-02 10:53] bartjackbakker commented on #69
Hi @didiatworkz

Do you have an update about the release date of this fix?

Cheers,
Bart

[2021-08-02 17:00] sisensee opened #75 "v4.2 docker issues"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/didiatworkz/screenly-ose-monitoring/issues) before creating one.

Let me start by saying thank you for this fantastic project! I know this is not a general release but thought it might help. Somehow.

## Expected Behavior
Docker composes, initial page loads with "Temporarily down for maintenance"
Trying to

[2021-08-02 18:59] didiatworkz commented on #75
Hello @sisensee ,

Sorry but 4.2 is not official and still in progress.

Currently, no support for this issue.
Please use the master branch.

Best
didiatworkz

[2021-08-02 18:59] #75 closed

[2021-10-30 15:02] #66 closed

[2021-11-10 07:59] snipper1993 opened #76 "4k resolution issue"
Hello, there is a problem in OSE Monitoring with players, on hdmi with 1920x1680 resolution  is ok, I can se what is running from management console but when raspberry pi is connected on hdmi with 3848x2160 resolution the image is not showing, shows that is online,  somo management and somo player are updated .

[2021-11-24 09:54] damienpeerbolte opened #77 "Use SOMO for external ip addresses + port"
Hi, I know this application is only tested for local addresses. I have tried to connect to an external raspberry, and what I've seen is that I need to forward port 80 and 443 to properly use it. Now my only problem is that I can only use one raspsberry since I cannot enter ports in SOMO. Is there maybe a way to do this? Thanks in advance.

[2021-12-04 21:21] didiatworkz commented on #76
Hello @snipper1993,

thanks for reporting that issue - For me, it isn't possible to reconstruct that issue because I don't own a 4k screen 😞
Can you paste a screenshot from the overview, maybe?

Best
didiatworkz

[2021-12-04 21:26] didiatworkz commented on #77
Hello @damienpeerbolte,

I don't understand, what do you do and what do you want from me?
When you open the ports 80 and 443 you need maybe also 9020 on a player when you installed the add-on.
But in general, I would suggest not to do that and create ssh tunnels between the devices and SOMO for more security.
The system isn't designed for external accesses.

Best
didiatworkz

[2021-12-07 05:38] snipper1993 commented on #76
Hello @didiatworkz,
I attached the screenshot from the overview in somo management.
I tried in /boot/config.txt to change following lines but if the raspbery pi is restart few times resolution is change again to 4k because the tv is 4k by default, so i change following lines to dislplay only full hd:
////////////////////////////////
disable_overscan=1
hdmi_force_hotplug=1
hdmi_group=1
hdmi_mode=31

[2021-12-07 21:17] didiatworkz commented on #76
Hello @snipper1993
I was successfully to reproduce the issue... (I forgot that I own a 4K TV)
When you play HD content, everything work fine:
![image](https://user-images.githubusercontent.com/18490798/145106870-14f94097-59d0-40e4-ad2a-c03106ca9d12.png)

But the issue happens when you play 4k content -> Then the add-on has this error message `vc_dispmanx_snapshot() failed` until HD content plays a

[2021-12-07 21:43] didiatworkz commented on #76
Hello @snipper1993

you need to reinstall the add-on on your devices (v3.1) or set the GPU memory to minimum 128MB `raspi-config nonint do_memory_split 128`

That solved the problem for me:
![image](https://user-images.githubusercontent.com/18490798/145110573-5baf273b-b415-48c7-b5e1-c327098870fd.png)

Please let me know if this solution also solve your issue.

Best
didiatworkz

[2021-12-08 22:03] #64 closed

[2021-12-09 09:49] Tom2446 opened #80 "RPI 4 support ?"
Hello,

Does screenly-ose-monitoring work on raspi 4B ?
I was able to install it without errors but I cannot access the UI.

[2021-12-09 09:54] didiatworkz commented on #80
Hello @Tom2446,

yes it is - when do you installed somo? - I ask this because the repo is updated some hours ago.

Best
didiatworkz

[2021-12-09 09:58] #69 closed

[2021-12-09 09:58] #72 closed

[2021-12-09 09:58] #73 closed

[2021-12-09 10:03] didiatworkz commented on #80
Hello @Tom2446,

there is an issue in the latest docker container - I'm on it

[2021-12-09 10:51] didiatworkz commented on #80
Hello @Tom2446 ,

please remove the old image: `sudo systemctl stop docker.somo && sudo docker stop somo && sudo docker rm somo` and restart the device.
I will close this issue here - If anything else, let me know.

Best
didiatworkz

[2021-12-09 10:51] #80 closed

[2021-12-09 12:09] ivanzeljko commented on #77
Is this application designed to work with **VPN'**s?

We use Wireguard VPN and upload and multi-upload works for pictures.
When we do multi-upload of video (cca 20MB size) we get _"Request timed out after 30000 seconds"_

Then we have to wait 4-5 minutes for clients to recover and get online.

Any suggestions for dislocated clients (players)?

![player1](https://user-images.githubusercontent.com/3

[2021-12-09 16:28] didiatworkz opened #81 "Wrong public link ip address"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/didiatworkz/screenly-ose-monitoring/issues) before creating one.

## Expected Behavior
Show host ip in public link

## Current Behavior
Show container ip in public link

[2021-12-09 16:29] didiatworkz opened #82 "Show header name in public link site"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/didiatworkz/screenly-ose-monitoring/issues) before creating one.

## Expected Behavior
Show Header name in public link site

## Current Behavior
Show only SOMO

[2021-12-09 16:30] didiatworkz opened #83 "Add-on: Show wrong version numbers"
Show wrong version numbers in Add-on overview

[2021-12-09 16:32] didiatworkz opened #84 "Discovery: Auto-Name set not work"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/didiatworkz/screenly-ose-monitoring/issues) before creating one.

## Expected Behavior
Set player name from discoverd player

## Current Behavior
Set [AUTO] xxx

[2021-12-09 16:33] didiatworkz opened #85 "Discovery: Close button not work"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/didiatworkz/screenly-ose-monitoring/issues) before creating one.

## Expected Behavior
After Discover close modal

## Current Behavior
Button has no function

[2021-12-09 16:53] didiatworkz opened #86 "Is this application designed to work with **VPN**s?"
Is this application designed to work with **VPN**s?

We use Wireguard VPN and upload and multi-upload works for pictures.
When we do multi-upload of video (cca 20MB size) we get _"Request timed out after 30000 seconds"_

Then we have to wait 4-5 minutes for clients to recover and get online.

Any suggestions for dislocated clients (players)?

![player1](https://user-images.githubusercontent.com/36

[2021-12-09 16:55] didiatworkz commented on #77
Hello @ivanzeljko,

I created a new issue about your problem - This has nothing to do with this issue here. New Issue -> #86

[2021-12-09 16:59] didiatworkz commented on #86
Hello @ivanzeljko,

can you record the network traffic via DevTools from your browser (Press F12 and navigate to "Network")
![image](https://user-images.githubusercontent.com/18490798/145441381-60977803-0de6-493c-8e84-06fb6bc8d6e4.png)

Clear all entries in the list and start uploading.
After that, you can export the protocol as HAR and attach it in this issue, please.

Best
didiatworkz

[2021-12-09 17:53] #81 closed

[2021-12-09 17:53] #82 closed

[2021-12-09 17:53] #83 closed

[2021-12-09 17:53] #84 closed

[2021-12-09 17:53] #54 closed

[2021-12-10 12:46] snipper1993 commented on #76
Hello @didiatworkz
It worked using `raspi-config nonint do_memory_split 128`,  many thanks.

[2021-12-10 13:04] didiatworkz commented on #76
You're welcome

[2021-12-10 13:05] #76 closed

[2021-12-14 15:37] johnster000 opened #88 "_DBRANCH=nightly Does not exist in docker hub"
_DBRANCH=nightly is failing on install, had to manually change the bash script to use the "latest" tag instead.

not a big deal, just a heads up

[2021-12-14 16:06] didiatworkz commented on #88
Hello @johnster000
you're totally right -> Will change this - Thanks 👍🏻

[2021-12-14 16:06] #88 closed

[2021-12-17 12:19] ivanzeljko commented on #86
Hello,

We have tested uploads with Multi Uploader.
Smaller files are uploading, but bigger files are not completed successfully.
More details in HAR files.

[HAR files](https://easyupload.io/ni506d)

SOMO:
![image](https://user-images.githubusercontent.com/3628393/146543742-39ecc4ce-b746-4c9c-af86-cc1dc6fc8aaa.png)

Screenly OSE Player RPi3:
![image](https://user-images.githubusercontent.com/3628

[2021-12-17 21:05] ivanzeljko opened #89 "Synchronize display of assets on multiple players"
**Is your feature request related to a problem? Please describe.**
We would like to see videos synced on multiple players.

**Describe the solution you'd like**
Synchronize  display of assets on multiple players
Maybe use Ansible or some of these tools https://www.tecmint.com/run-commands-on-multiple-linux-servers/

**Describe alternatives you've considered**
We have tried enabling NTP and adding

[2021-12-17 23:59] d0cdave opened #90 "Database copy from 4.1 to later versions"
What's your question?

Hi! Is there a script to change the 4.1 database to 4.3? When I attempt to copy the database.db file between versions the screen list is blank but everything else seems ok.

Background - Running ScreenlyManager in an i386 Raspbian Desktop VM. When upgrading to 4.3, docker will not install (repo issue with i386 Raspbian). Built a Debian 11x64 VM and its working great. We just

[2021-12-18 13:04] didiatworkz commented on #90
Hello @d0cdave

unfortunately, the docker container isn't build for i386.
But yes, you can trigger the database update when you create a text file named: `version_old.txt` and write `4.1` into it and put this file in the shared folder where the database file located.
Then the script will update the database.

Best
didiatworkz

Best

[2021-12-18 19:50] didiatworkz commented on #86
Hello @ivanzeljko
normally I would stop support here because SOMO is installed on a non-supported system.

But the problem here is that POST requests are not sent chunked to the server.
![image](https://user-images.githubusercontent.com/18490798/146653844-5799352c-088e-47c0-807d-11a4c44eb483.png)

What is the reason for this and how to fix it, I can't say for a CentOS.
My recommendation here would

[2021-12-18 21:47] ivanzeljko commented on #86
Thank you. Sorry I didn't checked Requirements section.

Will try it on Debian OS.

[2021-12-19 15:27] GhoperFX opened #91 "Blank page after upgrade"
Hello

For some time SOMO had stopped working for me and it was due to some system update.

Now I have tried to update to the latest version and the behavior is the same, when I log in it only shows me a blank screen.

Any idea what could be happening?

Thanks.

[2021-12-19 15:54] GhoperFX commented on #91
I am reviewing the extent of my knowledge, which is limited in programming ;-)

After the login the page loads all its source but it shows blank in the browser, it's something very strange.

I wish I could help with something else :-(

[2021-12-19 22:25] didiatworkz commented on #91
Hello @GhoperFX ,

That's don't sounds good..
Of you use a Raspberry Pi then you need to run this command:

`echo 4.1 > /home/pi/.somo/version_old.txt`

After that you need to reload the page and normally the maintenance mode will be activated and update the database.
Then everything should be work again.

Can you confirm me if that work?
I know about that issue but I thought I fixed that wit v4.3

[2021-12-20 08:27] GhoperFX commented on #91
Hello

I have the SOMO installation on a VM with Ubuntu Server and I suppose that the indications are for the path /usr/share/somo.

Inside that folder I have the version.txt with the value 4.1. I have tried to create the file you mentioned in the same path but it does nothing.

I do not know where to continue but if you tell me the DB issue could be related to the logs have a record referring to

[2021-12-20 10:35] ivanzeljko commented on #86
Hello,

Just a follow-up on this, although its not supported.

I have tried installing latest SOMO v4.3 (Docker version) to Debian 10 (Buster) on x64 PC.
Multi-Upload does not work, chunk with index zero can't start - just like in old HAR files from CentOS .

**Upload to individual players works really OK with 3MB chunks** (SOMO Menu: Players -> Some player -> New asset).
This also works on CentOS

[2021-12-20 17:44] didiatworkz commented on #91
Hello @GhoperFX ,
in the file: version.txt you need the string: `4.3` if you installed the version 4.3.
And then you need to execute this command: `echo 4.1 > /usr/share/somo/version_old.txt``
After that normally everything will work fine again,

Best
didiatworkz

[2021-12-20 17:54] GhoperFX commented on #91
Hello.

I'm sorry but maybe I have explained myself wrong.

When I detected that the 4.1 version was showing me from one day to another the blank page I decided to upgrade to 4.3.

Seeing that the same thing was happening what I did was to revert the VM to version 4.1 to focus on the reason for this problem.

The truth is that at the moment if I can locate the problem on 4.1 I almost prefer it bec

[2021-12-20 17:56] GhoperFX commented on #91
I forgot another detail regarding version 4.1.

It may be that it does not work correctly with php version 7.4 ?

[2021-12-20 19:12] GhoperFX commented on #91
Good news.

Although I still don't understand why ...

I have seen that from Firefox Developer Edition if I open correctly, both version 4.1 and 4.3 with DB migrated.

The strange thing is that the first thing I tried was to clear the cache of all browsers so I'm not clear if it could be something from Google Chrome and Safari ? (tested from 2 computers)

I will check it again calmly and report if

[2021-12-20 19:19] didiatworkz commented on #86
Hello @ivanzeljko,

You're totally right - I forgot that is everything into a container... Sorry for that.
Yes, 3 MB files are in general no problem regarding the packages will split to 3 MB packages.
Are the players who are to receive the content all on the same network?
Otherwise, I cannot explain it, as my test system does not show this error in this way.
The only thing I have noticed in the la

[2021-12-20 19:36] didiatworkz commented on #91
Hello @GhoperFX,

oh sorry...

Unfortunately, there is no option to check the integrity of the Database.
You can rename the database and import a copy of the dbase.sample.db and rename it back to the old one.
If SOMO running again, it's a database problem.

SOMO work correctly with PHP7.4 - I don't recognize any issue here and yes, v4.3 work now with apache in the docker container. - Normally it's

[2021-12-20 19:38] ivanzeljko commented on #86
Hello @didiatworkz ,

Thank you for your info. Upload of bigger video files (18MB chunked into 6 pieces) is working really good when uploding to individual Player (via SOMO menu: Players -> New asset). But Multi-Upload of same file gets stuck at start of first chunk (index 0).

Infrastructure is consisting of one virtual cloud server (CentOS 7) with SOMO on it. Players are on RaspberryPi3B's. Play

[2021-12-20 21:14] d0cdave commented on #90
This worked great. Added the file with the version number in the same folder as the database in the docker container, ran the upgrade curl script again and it worked great! Thanks for the quick reply.

Server runs much better in a Deb 64bit VM with over 100 screens.

[2021-12-21 00:16] #90 closed

[2021-12-21 11:39] GhoperFX commented on #91
Hello.

We are still moving forward and it is still a mystery....

From another Windows 11 computer it is unable to load with Google Chrome and Mozilla Firefox, it only loads with Microsoft Edge :-/

Could it be some browser engine update that doesn't like some of the html code ?

[2021-12-23 23:58] GhoperFX commented on #91
Hello.

I finally think I have located the problem.

Analyzing the loading of the index.php I found that the javascript at the end has a different behavior due to language issue.

If I comment it out and put it this way the page loads correctly:

<script>
	document.body.style.display = "block"
	flatpickr.localize(flatpickr.l10ns.default);
</script>

I hope I could have helped if it is a bug depend

[2021-12-24 12:04] didiatworkz commented on #91
Hello @GhoperFX,

do you use the Spanish language?

Best
didiatworkz

[2021-12-24 12:18] GhoperFX commented on #91
Yes

[2021-12-24 12:28] didiatworkz commented on #91
Hey,

Then I found the issue in the translation file for es. 

When you want to quick fix that, you need to replace line 146 to `'flatpickr.lang' => 'es', `
in /assets/locale/es-ES.php

I will fix that in general this weekend

Best
didiatworkz

[2021-12-24 12:48] GhoperFX commented on #91
Hello !

Great, it is indeed fixed with that modification.

Congratulations on the project because it is a great job.

Merry Christmas ! ;-)

[2021-12-24 15:06] #91 closed

[2021-12-24 15:10] didiatworkz commented on #91
Hello @GhoperFX

Thank you very much for your feedback - I fixed it now!

I hope I'm saying it right:
Feliz Navidad

Best
didiatworkz

[2021-12-24 17:49] GhoperFX commented on #91
Hello.

That's well said, Feliz Navidad ;-)

See you next time.

Greetings.

[2022-01-05 10:35] snipper1993 opened #92 "SCHEDULE ASSETS TO PLAY ON DIFFERENT HOURS EVERYDAY"
Hello,
Thank you for this application for screenly monitoring, is great.
I want if you can to add the feature wich I can schedule different assets on different hours everyday because now the screenly couldn't run multiple assets everyday, if i select to run for multiple day then it run the first asset always until stop day and no other asset will running.
Thank you,
Best Regards

[2022-01-17 18:35] didiatworkz commented on #92
Hello @snipper1993 ,
I have looked at your suggestion and I am sorry to tell you that your idea is unfortunately not possible due to limitations of screenly OSE.
Unfortunately, I cannot implement it.

[2022-01-17 18:35] #92 closed, assigned to didiatworkz

[2022-01-17 18:37] didiatworkz commented on #89
Hello @ivanzeljko,
I have looked at your suggestion and I am sorry to tell you that your idea is unfortunately not possible due to limitations of screenly OSE.
Unfortunately, I cannot implement it.

[2022-01-17 18:37] #89 closed

[2022-01-17 18:38] didiatworkz commented on #77
Hello @damienpeerbolte,

after no feedback, I will close this ticket.

Best
didiatworkz

[2022-01-17 18:38] #77 closed

[2022-01-17 18:40] didiatworkz commented on #86
Hello @ivanzeljko,
Is there anything new here?

Best
didiaworkz

[2022-01-17 18:51] ivanzeljko commented on #89
Hello @didiatworkz ,

Thank you for your work.

[2022-01-17 18:53] ivanzeljko commented on #86
Hello @didiatworkz,

I will try to get some time to go trough more detailed tests.

Thanks.

[2022-01-18 04:28] snipper1993 commented on #92
Thanks you so much for feedback, indeed the ose screenly is limited.
Have a great day!

On Mon, 17 Jan 2022, 20:35 Philipp Hörauf, ***@***.***> wrote:

[2022-03-10 17:02] omival-val opened #93 "Duda al traer la informacion"
What's your question?
Good afternoon;
The following happens to me, I have the monitor installed on a server in the cloud with wireguard and I have a rapsberry with screenly pointing to the server with wireguard but it does not bring me the complete information and I have the monitor installed on a local computer where I have the raspberry and yes brings me all the complete information

I attach im

[2022-03-21 16:40] jmsf-pt opened #94 "Database error"
Database error when trying to install 4.3 version.
Any idea?

![Sem Título](https://user-images.githubusercontent.com/102050070/159311130-ddd0e3aa-9744-4333-8702-dd6853f08a97.png)
?

[2022-04-06 22:16] sisensee opened #95 "Reset password?"
What's your question?
Is there a way to reset the sign-in password? I have managed to mistype the password twice. Thank you in advance.

[2022-04-13 09:55] didiatworkz commented on #95
Hello @sisensee

sorry for my late reply - Currently, there is only one option implemented:
Enter on your device where SOMO is installed this: `somo --reset`
This will remove the database and create a new one. Everything will be set back to default!
If you need to reset only the password, you need to edit the user table in the database and replace the password string with a md5 crypt password.

Be

[2022-04-13 09:58] didiatworkz commented on #94
Hello @jmsf-pt
SOMO is not built for windows installation.
Please use the docker image directly or the official installer with a Linux distro

Best
didiatworkz

[2022-04-13 09:58] #94 closed, assigned to didiatworkz

[2022-04-13 10:05] didiatworkz commented on #93
Hello @omival-val
SOMO is designed for running in local network environment - In the past there was some issues regarding ssh tunnels or VPN, but I can't support this.
In my productive environment, my Pi run in the same network as the players and everything work fine.

Best
didiatworkz

[2022-04-18 22:56] zerenxyz opened #96 "Need help with understand how it will work"
I have taken a look at Screenly OSE and SOMO however, I am a little consfused on how it will run fully. I understand I can run it on the same Pi as the player but do I need to install multiple versions of the SOMO on each Pi? As I have 10 Pi's with Screenly OSE on them how would I control them all from one install?

As well as would it work if I were to install SOMO alone on a Azure VM and connect

[2022-05-11 11:51] wk59er opened #97 "video format"
What's your question?
Hello, I want to stream videos via screenly OSE. But I can't find the right video format, maybe someone can help me, please.
With kind regards,
Wolfgang

[2022-05-19 11:39] jharris-spoonflower-com opened #98 "Nginx error installing SOMA"
First off, Thank you so much for putting this together.  If I can get this last part working with the SOMA add-on, I can see this as a huge help for me.

When installing SOMA, at the end I get the following error:

TASK [monitor-output : Copy nginx config] ***********************************************************************************************
fatal: [localhost]: FAILED! => {"changed": fals

[2022-07-08 12:40] nei-m opened #99 "AddOn"
What's your question?
I've installed SOMO at another location on our network, but can't access it through port 9000. Do any other ports need opening up across the firewall? I can access the pi using SSH and have checked that SOMO is installed. I can telnet to the port, so it appears ok. SOMO looks not to be installed when viewing from the server I set up.
![Screenshot 2022-07-08 142137](https://us

[2022-07-08 13:10] nei-m commented on #97
1080p MP4 works for me

[2022-10-12 12:28] haliltek opened #100 "ERR_CONNECTION_REFUSED"
After the installation is finished, it shows the ip and port I can access. Everything seems to be working correctly. I can access the player interface. but I am getting this error. 9000 port is not working.

[2022-10-13 05:19] haliltek opened #101 "ERROR: 8 - Undefined variable: db_cryproKey"
I get this error when I open debug mode. and the device looks online and offline. It does this nonstop. Could it be related to the mentioned error?

[2022-10-20 06:01] didiatworkz commented on #99
Hello @nei-m,

you need to open the ports: 9020 and 9021 for the AddOn, too.

[2022-10-20 06:02] didiatworkz commented on #97
Hello @wk59er,
please ask this question in the Screenly OSE repo - This project has nothing to do with your question.
But.. 1080 mp4 will work ;)

Best
didiatworkz

[2022-10-20 06:02] #97 closed, assigned to didiatworkz

[2022-10-20 06:10] didiatworkz commented on #96
Hello @zerenxyz,
You already recognise that partly correctly.
The project here can either be installed on a Linux server (Ubuntu/Debian recommended) or on a Screenly OSE player.
When the system is up and running, all devices from the local network are then connected via IP addresses.
From this point on, you can manage all devices from one place.
A few users also have the system running via SSH tun

[2022-10-20 06:11] #93 closed, assigned to didiatworkz

[2022-10-20 06:11] #95 closed, assigned to didiatworkz

[2022-10-20 06:17] didiatworkz commented on #98
Hello @jharris-spoonflower-com,

the current release of ScreenlyOSE causes the problem.
As soon as Screenly OSE is operated via the Docker container, port 80 is blocked.
Unfortunately, the nginx installation also needs port 80 here, otherwise it cannot be completed successfully.
Therefore, this is currently going wrong.

I will have to rebuild the add-ons so that they only run via Python and no lo

[2022-10-20 06:18] #86 closed

[2022-10-20 06:19] didiatworkz commented on #100
Hello @rubens45
can you post a screenshot of this issue, please?
Also with the current URL.

Best

[2022-10-20 06:20] didiatworkz commented on #101
Hello @rubens45 ,

also here, can you post a screenshot, please?

Best

[2022-11-24 12:26] ismailakincom opened #102 "ERROR! couldn't resolve module/action 'mount'."
<img width="941" alt="Screenshot at Nov 24 15-25-01" src="https://user-images.githubusercontent.com/6472427/203784210-eedcc071-b5da-4bfd-8f34-c662c6954864.png">

How can we solve this error?